.card-item{
    display: flex;
    flex-direction: column;
    position: relative;
}

.card-item p{
    font-size: 18px;
    font-weight: 700;
    margin: 10px 0;
}

.card-item img{
    width: 100%;
    border: solid 1px;
}

.card-item span{
    padding-bottom: 10px;
    font-size: 16px;
}


.count-item{
    display: flex;
    width: 100%;
    justify-content: center;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.MuiGrid-root.MuiGrid-item.MuiGrid-grid-md-3.css-ot7hnh-MuiGrid-root {
    padding: 15px;
}